.favoriteMenu {
  /* position: absolute;
  top: 30px;
  left: -300px;
  background-color: #1e1e1e;
  width: 400px;
  padding: 10px 20px;
  z-index: 2;
  border-radius: 15px; */
  /* background-color: rgb(36, 37, 41); */
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: auto;
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 1.5rem;
  background: #121212;
}

/* .favoriteMenuArrange {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
} */