.favoritePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 1vh 0 1vh 0;
  gap: 2rem; 
}

